html {
font-size: 16px;
font-family: 'Open Sans', sans-serif;
background-color: #D1F9F9;
}
p {
color: #DC4A1B;
margin-left: 50px;
margin-right: 30px;
font-family: 'Open Sans', sans-serif;
}
h1 {
font-size: 50px;
text-align: center;
margin: 0;
padding: 20px 0;
text-shadow: 2px 2px 2px white;
color: darkblue;
font-family: 'Open Sans', sans-serif;
}
h2 {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
text-align: center;
}
li {
line-height: 1.5;
font-weight: bold;
letter-spacing: 1px;
color: #3DA1D7; 
margin-left: 250px;
font-family: 'Open Sans', sans-serif;
}
body {
width: 800px;
height: 730px;
margin: 0 auto;
background-color: #E3E6E7;
padding: 0 20px 20px 20px;
color: #DC4A1B;
border: 2px solid white;
}
img {
margin: 0 auto;
width: 200px;
margin-top: 20px;
margin-left: 95px;
margin-right: 95px;
}
#block1 {
float: left;
display: block;
text-align: center;
width: 400px;
}
#block2 {
float: left;
display: block;
text-align: center;
width: 400px;
}